* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  list-style: none;
}

.contact-details ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  color: blue;
}

.contact-details a {
  color: blue;
  text-decoration: none;
}

h1,
/* h2, */

h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #13293d;
  color: #fff;
}

.hero-banner {
  display:grid;
  height: 200px;
  width: 100%;
  position:relative;
  margin-bottom: 2px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;

  align-items: right;
}


.hero-banner h2 {
  position: absolute;
  color: rgb(255, 255, 255);
  padding: 2px 10px;
  font-size: 18px;
  background-color: darkcyan;
  top:150px;
  right: 10px;
 
} 


a {
  color: #ffffff;
}

.portfolio-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas: "portfolio1 portfolio1" " portfolio2 portfolio3" "portfolio4 portfolio5";
}

.portfolio1, .portfolio2, .portfolio3, .portfolio4, .portfolio5 {
  border: aqua;
  border-style: solid;
}

.portfolio1 {
  grid-area: portfolio1;
  background-image: url("../images/02-portfolio-4.jpg");
  height: 200px;
  
  background-size: cover;
}

.portfolio2 {
  grid-area: portfolio2;
  background-image: url("../images/02-portfolio-2.jpg");
  height: 200px;
  margin-bottom: 0px;
  background-position: center;
  background-size: cover;
}

.portfolio3 {
  grid-area: portfolio3;
  background-image: url("../images/02-portfolio-1.jpg");
  height: 200px;
  margin-bottom: 0px;
  background-position: center;
  background-size: cover;
}

.portfolio4 {
  grid-area: portfolio4;
  background-image: url("../images/02-run-buddy.jpg");
  margin-bottom: 0px;
  background-position: center;
  background-size: cover;
}

.portfolio5 {
  grid-area: portfolio5;
  background-image: url("../images/02-portfolio-3.jpg");
  height: 200px;
  margin-bottom: 0px;
  background-size: cover;
}

.page-section>div {
  background: #eee;
  padding: 1em;
}

.page-section {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.section-title h2 {
  align-items: flex-end;
}

.section-title {
  border-right-style: solid;
  border-right-color: blue;
}

#about {
  grid-column: 1;
  grid-row: 1;

}

#work {
  grid-column: 1;
  grid-row: 2;
}

#contact {
  grid-column: 1;
  grid-row: 3;
}

.title {
  border-right-color: blue;
  border-right-style: solid;
}

.text-container {
  position: relative;
  width: 50%;
  height: 25%;
  background-color: rgb(41, 41, 41, 0.3);
  top: 115px;
  align-content: center;
  display: grid;
  
}

.text-container h2 {
  color: rgb(255, 255, 255);
  padding: 2px 10px;
 
}
.text-container a {
text-decoration: none;
}

.zoom {
 
 
  transition: transform .2s; /* Animation */
  
   
}

.zoom:hover {
  transform: scale(1.2); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


@media only screen and (max-width:800px) {
  .portfolio-parent {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    gap: 0.2%;
    grid-template-areas: "portfolio1" "portfolio2" "portfolio3" "portfolio4" "portfolio5";
  }
}